@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
  font-family: 'PPMigra';
  src: url('./fonts/PPMigra-Extrabold.woff2') format('woff2'),
  url('./fonts/PPMigra-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPMigra';
  src: url('./fonts/PPMigra-Regular.woff2') format('woff2'),
  url('./fonts/PPMigra-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
  --font-pp-migra: 'PPMigra', serif;

  --color-coffee-700: #613C2A;
  --color-coffee-400: #F2EFE8;
}

.title {
  @apply font-pp-migra;
}

.header {
  width: calc(100% - 100px);
  border-radius: 0 0 30px 30px;
}

.footer {
  width: calc(100% - 100px);
  border-radius: 30px 30px 0 0;
}

.corner {
  position: absolute;
}

.cta-button {
  @apply absolute right-0 bottom-0 size-[120px] rounded-tl-2xl bg-coffee-400;
  @apply before:absolute before:right-full before:bottom-0 before:size-12 before:rounded-br-2xl;
  @apply before:shadow-[5px_5px_0_0_var(--color-coffee-400)];
  @apply after:absolute after:right-0 after:bottom-full after:size-16 after:rounded-br-2xl;
  @apply after:shadow-[5px_5px_0_0_var(--color-coffee-400)];
}

.cta-button a {
  @apply absolute right-0 bottom-0 rounded-2xl flex items-center justify-center;
  @apply bg-coffee-700 w-[100px] h-[100px] transition duration-200 ease-linear;
}
.cta-button a svg {
  @apply transition duration-200 ease-linear;
}
.cta-button a:hover svg {
  @apply translate-x-[3px] -translate-y-[3px] opacity-60;
}
